.OneStep-continer-div {
    /* display: flex;
    justify-content: space-around; */
    background: #fff;
    margin: 5% 0;
    font-size: 28px;
    color: #a6171d;
    font-weight: bold;
    padding: 15px 12% 15px 0;
    position: relative;
}

.OneStep-continer-div img {
    position: absolute;
    right: 10px;
    top: -20px;
    max-width: 100%;
}

.OneStep-continer-text {
    text-align: right;
}

@media (max-width: 768px) {
    .OneStep-continer-text {
        text-align: right;
        padding-top: 80px;
    }
}