.printQuote-continer-div {
    background: rgba(85,85,85,0.8);
    min-height: 50px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.printQuote-continerd-img-sum {
    width: 35%;
    max-width: 35%;
}

.printQuote-continerd-img-sum img {
    max-width: 100%;
    margin-top: -7px;
    margin-bottom: -10px;
    margin-right: -13px;
    margin-left: 50px;
}

.printQuote-summary-all-order {
    background-color: white;
    width: 31%;
    text-align: center;
    background: #fff;
    border: 1px solid #ddd;
    color: #1e9e42;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.printQuote-print-button {
    width: 34%;
}
.printQuote-print-button img{
    max-width: 100%;
}

@media (max-width: 768px) {

    .printQuote-continer-div {
        background: rgba(85,85,85,0.8);
        min-height: 50px;
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        justify-content: center;
    }

    .printQuote-continerd-img-sum {
        width: 100%;
        max-width: 100%;
    }
    
    .printQuote-continerd-img-sum img {
        width: 80%;
        margin: 0px;
    }

    .printQuote-summary-all-order {
        background-color: white;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        background: #fff;
        border: 1px solid #ddd;
        color: #1e9e42;
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 8px;
    }

    .printQuote-print-button {
        display: none;
    }

}