.selectExtension-continer-div {
  width: 100%;
}

.selectExtension-continer-img {
    background: #fff;
    margin: 5% 0;
    font-size: 28px;
    color: #a6171d;
    font-weight: bold;
    padding: 15px 12% 15px 0;
    position: relative;
}

.selectExtension-continer-img img {
    position: absolute;
    right: 10px;
    top: -20px;
}

.selectExtension-continer-text {
    text-align: right;
}

.selectExtension-extras-continer {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
}

.selectExtension-extras-continer img {
    width: 90%;
}

.selectExtension-continer-text-recommendation {
    font-size: 25px;
    color: #a6171d;
    font-weight: bold;
    margin: 8px;
}


@media (max-width: 768px) {
    .selectExtension-continer-text {
        text-align: center;
        padding-top: 70px;
    }

    .selectExtension-extras-continer {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .selectExtension-extras-continer img {
        width: 40%;
        margin: 10px;
    }
}
