.choosingSukkahType-continer-div {
    width: 100%;
}

.choosingSukkahType-grayscale-img {
    filter: grayscale(100%);
}

.choosingSukkahType-contint-img {
    max-height: 400px;
    margin: 10px;
    position: relative;
}
.choosingSukkahType-contint-img-can-not-select {
    color: red;
    background-color: rgba(255, 255, 255, 0.788);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.choosingSukkahType-contint-img img {
   max-height: 100%;
   max-width: 100%;
}

@media (max-width: 768px) {
    .choosingSukkahType-continer-div {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
} 