.SukkahOrderPage-continer-div {
    width: 100%;
    max-width: 1000px;
    padding-top: 80px;
}
/* 
@media (max-width: 768px) {
    .SukkahOrderPage-continer-div {
        width: 100%;
        padding-top: 80px;
        background-image: url("./background_03.jpg");
    
    }
} */