.App {
    background-image: url("./background_03.jpg");
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}

.background-gray-for-all {
    background: #d4d4d4;
}

.primery-color {
    color: #a6171d;
}
